.DS_Store # applies only to OS X
.gitignore # ignore the .gitignore file!
node_modules # directory where npm stores packages
*.pyc # compiled python files
__pycache__ # pre-parsed python
db.sqlite3 # Django default database
